PORT=4001
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/pahar_pos_v5

JWT_SECRET=pos_jwt_secret_key_change_in_production

ECOMMERCE_API_KEY=pahar_pos_api_key_2024
CORS_ORIGIN=http://localhost:3000,http://localhost:4000